*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    /* background: #222; */
}

body{
    background: #161616;
    scroll-behavior: smooth;
}

.contact_form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #222;
    padding-bottom: 160px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 80px;
    box-shadow: 6px 6px 5em 6px #000;
} 

.user_pass{
    background: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #eee;
}

#name{
    border: 1px solid #1dd1a1;
}

#pass{
    border: 1px solid #1dd1a1;
}

.sub_btn{
    padding: 10px 20px;
    border: 1px solid #1dd1a1;
    background: none;
    margin-left: 5em;
    border-radius: 10px;
    color: #000;
    background: #1dd1a1;
    cursor: pointer;
    transition: .5s linear;
}

::placeholder{
    font-family: poppins;
}

input:focus{
    outline: none;
    animation: animate .9s linear;
}

@keyframes animate{
    25%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}